@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Nunito:ital,wght@1,300&display=swap');

:root{
    --color1:#E5E3C9;
    --color2:#B4CFB0;
    --color3:#94B49F;
    --color4:#789395;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-heading{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.section-1{
    background-color: var(--color3);
    height: 80vh;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-top: -100px;
}
.section-1-heading{
    padding-top: 120px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.section-1-img {
    width: 100%;
    position: relative;
    top: 8%;
    left: 38%;
}

.section-1-img img{
    width: 400px;
    height: 210px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s;
}

.section-1-img img.active{
    opacity: 1;
}

/* section-2 */
.section-2{
    background-color: var(--color4);
    width: 100%;
    height: auto;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.card{
    background-color: var(--color1);
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s;
    margin: 40px;
}
.card::before{
    content: "";
    height: 100%;
    width: 20px;
    background-color: var(--color3);
    position: absolute;
    top: 0;
    left: -6.5%;
    transform: skewY(45deg);
    transform-origin: right;
}
.card::after{
    content: "";
    height: 20px;
    width: 100%;
    background-color: var(--color2);
    position: absolute;
    top: -5.5%;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
}
.card:hover{
    transform: translateY(-30px);
}
.card img{
    width: 220px;
    height: 140px;
}
.card-heading{
    margin-top: 15%;
    color: var(--color4);
    font-size: 30px;
}
.card-btn{
    margin-top: 5%;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: var(--color4);
    color: var(--color1);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

/* section-3 */
.section-3{
    background-color: var(--color3);
    height: auto;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 2%; */
}

.gallery-card{
    width: 24%;
    margin: 70px 40px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transition: all 0.5s;
}

.gallery-card::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #30302f;
    position: absolute;
    left: 15px;
    top: 80px;
    transition: width 0.5s;
}

.gallery-card::before{
    content: "";
    height: 0;
    width: 3px;
    background-color:#30302f;
    position: absolute;
    left: 90%;
    top: 20px;
    transition: height 0.5s;
    z-index: 10;
}

.gallery-card img{
    width: 100%;
    height: 40vh;
}

.gallery-card-heading{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    width: 0;
    transition: width 0.5s;
    color: #30302f;
}

.gallery-card-description {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    color: #30302f;
}

.gallery-card:hover{
    box-shadow: 0.7rem 0.7rem 0.1rem #e92929, 1.4rem 1.4rem 0.1rem #a2e946,
    2.1rem 2.1rem 0.1rem #297ce9, 2.8rem 2.8rem 0.1rem #e92999;
    transform: scale(1.1);
}

.gallery-card:hover img{
    filter: blur(5px);
    opacity: 0.5;
}

.gallery-card:hover::before{
    height: 80%;
}
.gallery-card:hover::after{
    width: 90%;
}
.gallery-card:hover .gallery-card-heading{
    width: 100%;
    transition: width 1.5s 0.5s;
}
.gallery-card:hover .gallery-card-description{
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/* section-4 (the footer */
.section-4{
    background-color: var(--color4);
    font-family: 'Nunito', sans-serif;
}

.section-4-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    border-bottom: 2px solid var(--color1);
    padding-bottom: 15px;
}

.section-4-text h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--color1);
}
.section-4-text p{
    color: var(--color2);
    font-weight: bold;
}

.section-4-form{
    position: relative;
}
.section-4-form input{
    border: none;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color4);
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
}
.section-4-form input:focus{
    outline: none;
}
.section-4-form input::placeholder{
    color: var(--color4);
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.section-4-form button{
    position: absolute;
    left: 85%;
    top: 15%;
    border: none;
    font-size: 25px;
    background-color: #fff;
}
.section-4-form button i{
    color: var(--color4);
}

.section-4-bottom{
    text-align: center;
    color: var(--color1);
    padding: 15px;
}

/* navbar section */
.navbar-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color4);
    height: 3px;
    transition: height 2s;
    z-index: 2;
}
.navbar-link{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color1);
    opacity: 0;
    transition: opacity 8s;
}
.navbar-link span{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 30px;
    font-weight: bold;
}
.navbar-link i{
    font-size: 30px;
}
.menu{
    width: 40px;
    height: 80px;
    border-radius: 20px 20px 10px 10px;
    background-color: var(--color4);
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.menu::before{
    content: "";
    width: 5px;
    height: 10px;
    background-color: var(--color4);
    position: absolute;
    top: -10px;
    right: 18px;
}
.active{
    height: 100px;
    opacity: 1;
}


/* Responsive */
@media (min-width:1201px) and (max-width:1400px){
    .card::before {
        top: 0;
        left: -6.8%;
    }
    .card::after{
        top: -5.5%;
        left: 0;
    }

    .gallery-card{
        margin: 70px 50px
    }
}
@media (min-width:993px) and (max-width:1200px){
    .section-1-img{
        left: 35%;
    }
    .section-1-img img{
        width: 300px;
        height: 150px;
    }
    .card::before{
        left: -6.8%;
        top: 0;
    }
    .card img {
        width: 180px;
        height: 100px;
    }
    .card::after{
        top: -5.5%;
    }
    .gallery-card{
        margin: 70px 40px;
    }
    .gallery-card-heading{
        font-size: 25px;
    }
    .gallery-card-description{
        font-size: 15px;
    }
}
@media (min-width:769px) and (max-width:992px){
    .section-1-img{
        left: 32%;
    }
    .section-1-img img{
        width: 300px;
        height: 150px;
    }
    .card {
        width: 250px;
        height: 300px;
    }
    .card::before{
        left: -8%;
        top: 0;
    }
    .card img {
    width: 130px;
    height: 75px;
    }
    .card::after{
        top: -6.7%;
    }
    .gallery-card {
        width: 30%;
        margin: 40px 60px;
    }
    .gallery-card:hover {
    box-shadow: 0.4rem 0.4rem 0.1rem #e92929, 0.8rem 0.8rem 0.1rem #a2e946, 1.2rem 1.2rem 0.1rem #297ce9, 1.6rem 1.6em 0.1rem #e92999;
    }
    .gallery-card-heading {
        top: 40px;
        left: 50px;
        font-size: 25px;
    }
    .gallery-card-description {
        top: 120px;
        left: 30px;
        font-size: 15px;
    }

}
@media (min-width:577px) and (max-width:768px){
    .navbar-link i {
        font-size: 25px;
    }
    .navbar-link span {
        font-size: 22px;
    }
    .menu {
        width: 30px;
        height: 60px;
        margin: 10px 30px;
    }
    .menu::before {
        height: 30px;
        top: -30px;
        right: 14px;
    }
    .section-1-heading {
        padding-top: 80px;
        font-weight: bold;
        font-size: 40px;
    }
    .section-1 {
        height: 50vh;
    }
    .section-1-img img{
        width: 200px;
        height: 110px;
    }
    .section-1-img{
        left: 32%;
    }
    .section-heading {
        padding-top: 30px;
        font-size: 40px;
    }
    .card{
        width: 240px;
        height: 300px;
    }
    .card::after{
        top: -6.7%;
    }
    .card::before{
        top: 0;
        left: -8%;
    }
    .card img{
        width: 180px;
        height: 100px;
    }
    .gallery-card {
        width: 50%;
        margin: 50px 10px;
    }
    .gallery-card:hover {
    box-shadow: 0.4rem 0.4rem 0.1rem #e92929, 0.8rem 0.8rem 0.1rem #a2e946, 1.2rem 1.2rem 0.1rem #297ce9, 1.6rem 1.6em 0.1rem #e92999;
    }
    .gallery-card-heading {
        top: 40px;
        left: 60px;
        font-size: 25px;
    }
    .gallery-card-description {
        top: 120px;
        left: 40px;
        font-size: 15px;
    }
    .section-4-top {
        flex-direction: column;
    }
    .section-4-top {
        padding-top: 15px;
    }
    .section-4-text h2 {
        font-size: 25px;
        text-align: center;
    }
    .section-4-text p {
        font-size: 15px;
        text-align: center;
    }
    .section-4-form{
        padding: 20px;
    }
    .section-4-form button {
        left: 80%;
        top: 31%;
    }
}
@media (max-width:576px){
    .navbar-link i {
        font-size: 20px;
    }
    .navbar-link span {
        font-size: 18px;
    }
    .menu {
        width: 30px;
        height: 60px;
        margin: 10px 30px;
    }
    .menu::before {
        height: 30px;
        top: -30px;
        right: 14px;
    }
    .section-1-heading {
        padding-top: 80px;
        font-weight: bold;
        font-size: 40px;
    }
    .section-1 {
        height: 50vh;
    }
    .section-1-img img{
        width: 200px;
        height: 110px;
    }
    .section-1-img{
        left: 28%;
    }
    .section-heading {
        padding-top: 30px;
        font-size: 40px;
    }
    .card{
        width:220px;
        height: 300px;
    }
    .card::after {
        top: -6.6%;
    }
    .card::before {
        left: -8.5%;
    }
    .card img{
        width: 141px;
        height: 100px;
    }
    .gallery-card {
        width: 50%;
        margin: 43px 10px;
    }
    .gallery-card:hover {
    box-shadow: 0.4rem 0.4rem 0.1rem #e92929, 0.8rem 0.8rem 0.1rem #a2e946, 1.2rem 1.2rem 0.1rem #297ce9, 1.6rem 1.6em 0.1rem #e92999;
    }
    .gallery-card-heading {
        top: 40px;
        left: 40px;
        font-size: 25px;
    }
    .gallery-card-description {
        top: 100px;
        left: 30px;
        font-size: 15px;
    }
    .gallery-card:hover::before {
        height: 80%;
        left: 85%;
    }
    .section-4-top {
        flex-direction: column;
    }
    .section-4-top {
        padding-top: 25px;
    }
    .section-4-text h2 {
        font-size: 25px;
        text-align: center;
    }
    .section-4-text p {
        font-size: 15px;
        text-align: center;
    }
    .section-4-form{
        padding: 20px;
    }
    .section-4-form button {
        left: 80%;
        top: 31%;
    }
    
}



